.feelings-page {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
}

.feelings-header {
  text-align: center;
}

.feelings-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 40em) {
  .feelings-container {
    width: 80%;
    overflow-x: visible;
    overflow-y: visible;
    overflow: scroll;
  }
  .feelings-container > .uni-btn {
    padding: 3vmin 5vmin 3vmin 5vmin;
  }
}
