.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-home {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid white;
  font-size: 225px;
  margin: 20px;
  padding: 20px;
  padding-top: 0;
  height: 20vh;
  width: 40vw;
  border-radius: 65%;
  font-family: 'Playfair Display SC', serif;
  color: white;
  cursor: default;
}

h2 {
  color: rgb(167, 100, 243);
  font-family: var(--font-family);
  font-kerning: none;
  font-size: 1.6rem;
  text-align: center;
}

.blurb {
  color: rgb(167, 100, 243);
  font-family: var(--font-family);
  font-kerning: none;
  font-size: 1.2rem;
  width: 50%;
  text-align: center;
  line-height: 1.5rem;
  margin: 0px;
}

.blurb-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}