.notfound-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.notfound-blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
}