html {
  font-family: var(--font-family);
}

.activity-blurb {
  margin-top: 10%;
  color: var(--font-color-purp);
  background-color: var(--element-bkgd-color);
  border-radius: var(--border-radius);
}

.activity-card h2 {
  margin: 10px;
  font-size: xx-large;
}

.activities-btns {
  font-size: 30px;
  border: none;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
}

.button-container {
  width: 3vw;
  height: 100%;
  display: flex;
}

.activity-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 20vh;
  width: 50%;
  margin-bottom: 2%;
  padding: 30px;
  background-color: white;
  font-family: var(--font-family);
  border-radius: 2px;
  text-align: center;
}

.activity-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
