html {
  font-family: var(--font-family);
}

.activity-blurb {
  margin-top: 10%;
  color: var(--font-color-purp);
  background-color: var(--element-bkgd-color);
  border-radius: var(--border-radius);
}

.activity-card h2 {
  margin: 10px;
  font-size: xx-large;
  max-width: 40vw;
}

.activities-btns {
  font-size: 30px;
  border: none;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
}

.button-container {
  width: 3vw;
  height: 100%;
  display: flex;
}

.activity-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 40vh;
  width: 50%;
  margin-bottom: 2%;
  padding: 30px;
  background-color: white;
  font-family: var(--font-family);
  border-radius: 2px;
  text-align: center;
}

.activity-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 40em) {
  .activity-page {
    background-color: var(--element-bkgd-color);
    height: 85vh
  }
  .activity-blurb {
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    font-size: calc(1em + 3vmin);
  }

  .activity-card {
    width: 80%;
  }

  .activity-card h2 {
    font-size: calc(1em + 1vmin);
    max-width: 60vw;
    margin: 0;
  }

  .activity-page > .uni-btn {
    padding: 4vmin 7vmin 4vmin 7vmin;
  }
}