html {
  font-family: var(--font-family);
}

h2 {
  margin: 20px;
}

.activities-btns {
  font-size: 30px;
  border: none;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
}

.activity-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 40%;
  margin-top: 10%;
  margin-bottom: 2%;
  padding: 50px;
  font-size: 23px;
  background-color: white;
  font-family: var(--font-family);
  border-radius: 2px;
}

.activity-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}