:root {
  --element-bkgd-color: rgba(255,255,255, .4);
  --border-radius: 2px;
  --font-family: 'Plus Jakarta Sans', sans-serif;
}

.uni-btn {
  border-radius: var(--border-radius);
  background-color: none;
  border: solid white 1px;
  padding: 1vmin 2vmin 1vmin 2vmin;
  margin: 1vmin;
  height: fit-content;
  cursor: pointer;
  text-decoration: none;
  transition: white .5s;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  color: black;
}

.uni-btn:hover {
  background-color: white;
}

body, html {
  height: 100%;
  width: 100%;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  text-decoration: none;
}

.link:visited {
  text-decoration: none;
}

* {
  text-decoration: none;
}