.journal-boundary {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.journal-entry {
  width: 50%;
  height: 75%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: var(--border-radius);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.log-stats {
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: 100%;
  justify-content: space-evenly;
}

.journal-content {
  background-color: white;
  width: 75%;
  height: 50%;
  border-radius: var(--border-radius);
  background: repeating-linear-gradient(
    white, white 25px,
    #86BBD8 26px, #86BBD8 27px
  );
}

.journal-text-edit {
  width: 99%;
  height: 98%;
  background-color: var(--element-bkgd-color);
}

.journal-text {
  line-height: 27px;
}

h3 {
  font-size: 1rem;
  margin: 0 6.4vw 0 6.4vw;
}

p {
  padding: 15px;
}

@media screen and (max-width: 40em) {
  .journal-entry {
    width: 90vw;
    height: 85vh;
  }

  .jrnl {
    padding: 4vmin 7vmin 4vmin 7vmin!important;
  }
}