.feelingsLog {
    background-color: var(--element-bkgd-color);
    --border-color: rgb(89, 91, 92);
    border-radius: var(--border-radius);
    width: fit-content;
    margin: 2rem auto 0;
    margin-top: 10vh;
}

.feelingsLog table {
    border-collapse: collapse;
    padding: 1.5rem 2rem;
    display: block;
    width: 100%;
}

td,
th {
    padding: .7rem;
    border-bottom: 1px solid var(--border-color);
}

th {
    font-weight: 700;
    text-align: left;
}

.fa-solid {
    color: black;
    font-size: 1.3rem;
}

.truncate {
    width: 450px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table thead tr {
    display: block;
}

table th,
table td { 
    width: 100px; 
    min-width: 100px; 
}

table tbody {
    display: block;
    overflow-y: scroll;
    width: 100%;
    height: 650px;
}

.activity-head {
    width: 450px;
}

.feeling-head {
    width: 110px;
}

tbody::-webkit-scrollbar {
    width: 7px;
}

tbody::-webkit-scrollbar-track {
    background-color: var(--element-bkgd-color); 
}

tbody::-webkit-scrollbar-thumb {
    background-color: var(--element-bkgd-color);
    border-radius: 20px;
    border: solid rgba(255,255,255, .5);
}

.journal {
    padding: 0 0 0 2rem;
}