.feelingsLog {
    background-color: var(--element-bkgd-color);
    --border-color: rgb(89, 91, 92);
    --background-color: rgba(0, 0, 0, 0.05);
    padding: 1.5rem 2rem;
    border-radius: var(--border-radius);
    width: fit-content;
    margin: 2rem auto 0;
    margin-top: 10vh;
}

.feelingsLog table {
    border-collapse: collapse;
}

.feelingsLog td,
.feelingsLog th {
    padding: .7rem;
    border-bottom: 1px solid var(--border-color);
}

th {
    font-weight: 700;
    text-align: left;
}

.feelingsLogs tbody tr:nth-of-type(odd) {
    background-color: var(--background-color);
}

.fa-solid {
    color: black;
    font-size: 1.3rem;
}
