html {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: var(--font-family);
}

.journal-boundary {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.journal-entry {
  width: 50%;
  height: 75%;
  background-color: rgba(255,255,255, .4);
  border-radius: var(--border-radius);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.log-stats {
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: 100%;
  justify-content: space-evenly;
}

.journal-content {
  background-color: white;
  width: 75%;
  height: 50%;
  border-radius: var(--border-radius);
  background: repeating-linear-gradient(
    white, white 25px,
    #86BBD8 26px, #86BBD8 27px
  );
}

.journal-text {
  line-height: 27px;
}

h3 {
  
  font-size: 1rem;
}

p {
  padding: 15px;
}