.logo {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid white;
  font-size: 45px;
  margin: 20px 0 0 50px;
  padding: 5px;
  padding-top: 0;
  height: 40px;
  width: 130px;
  border-radius: 65%;
  font-family: 'Playfair Display SC', serif;
  color: white;
  cursor: default;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}