.prompt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
  height: 100%;
  padding: 30px;
  background-color: var(--element-bkgd-color);
  width: 50vw;
}

textarea {
  width: 80%;
  height: 40vh;
  font-size: 25px;
}

.prompt {
  font-family: var(--font-family);
}

@media screen and (max-width: 40em) {
  .prompt-container {
    height: 85vh;
  }

  form {
    width: 90%;
    padding: 2vmin;
  }

  textarea {
    height: 75%;
  }
}
