body, html {
  background: rgb(240,108,116);
  background: radial-gradient(circle, rgba(240,108,116,1) 0%, rgba(213,157,232,1) 100%);
  height: 100%;
  width: 100%;
}

.prompt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  height: 100%;
  padding: 30px;
  background-color: white;
  width: 40vw;
}

textarea {
  width: 80%;
  height: 40vh;
}

.prompt {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.next-button {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  border-radius: 0;
  background-color: black;
  font-weight: bold;
  color: white;
  font-family: 'Playfair Display', serif;
}