.prompt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 73vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  height: 100%;
  padding: 30px;
  background-color: var(--element-bkgd-color);
  width: 40vw;
}

textarea {
  width: 80%;
  height: 40vh;
  font-size: 25px;
}

.prompt {
  font-family: var(--font-family);
}